<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Company Home Page</title>
</head>
<body>
<h1>Company Home Page</h1>
<hr>
<p>
    Welcome to our very own Company Home page.
</p>
<hr>
<!--Display username and role/authorities-->
<p>
    User : <span sec:authentication="principal.username"></span>
    <br><br>
    Role(s) : <span sec:authentication="principal.authorities"></span>
</p>
<div sec:authorize="hasRole('MANAGER')">
    <!--Add a link to point to /leaders ... this is for the managers-->
    <p>
        <a th:href="@{/leaders}">Leadership Meeting</a>
        (Only for Managers)
    </p>
</div>

<div sec:authorize="hasRole('ADMIN')">
    <!-- Add a Link to point to /systems ... this only for admins -->
    <p>
        <a th:href="@{/systems}">IT Admin Meeting</a>
        (Only for IT Admin)
    </p>
</div>
<hr>
<!--Adding a logout button-->
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout" />
    </form>
</body>
</html>